.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(440px, 0.2fr));
    grid-auto-rows: 20px;
    grid-gap: 12px;
    justify-content: center;
    margin-left: 30px;
}

.image-list img {
    width: 370px;
    grid-row-end: span 2;
    border-radius: 10px;
}

#title {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 100px;
}

.darkModeToggle {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-right: 300px;
}

.hidden {
    display: none;
}

/* Dark mode colour settings */
.bgColorDark {
    background-color: black !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.fontColorDark {
    color: white !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

/* Light mode colour settings */
.bgColorLight {
    background-color: white !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.fontColorLight {
    color: black !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}