.bgColorCardDark {
    background-color: #424242 !important;
}

.fontColorDark {
    color: white !important;
}

.bgColorCardLight {
    background-color: #e8e8e8 !important;
}

.fontColorLight {
    color: black !important;
}