.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 0.2fr));
    grid-auto-rows: 20px;
    grid-gap: 12px;
    justify-content: center;
}

.image-list img {
    width: 450px;
    grid-row-end: span 2;
    border-radius: 10px;
}