.bgColorCardDark {
    background-color: #424242 !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.fontColorDark {
    color: white !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.bgColorCardLight {
    background-color: #e8e8e8 !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.fontColorLight {
    color: black !important;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.eyecon {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.heartIcon {
    position: absolute;
    left: 37%;
    margin-top: -10px;
}